---
import config from '@config/index';
import Container from './Container.astro';
const { showCopyrightInfo, title, footSiteInfo } = config;
---

<Container class='mt-10 border-t border-gray-100 dark:border-gray-800'>
  <footer class='flex flex-col items-center'>
    {
      showCopyrightInfo && (
        <div class='text-sm text-center'>
          Copyright © {new Date().getFullYear()}
          {title}. All rights reserved.
        </div>
      )
    }
    {
      !!footSiteInfo && (
        <div class='flex justify-center gap-1 mt-1 text-sm text-center text-gray-500 dark:text-gray-600'>
          {footSiteInfo}
        </div>
      )
    }
  </footer>
</Container>
